.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.admin-page-content {
    display: grid;
    grid-template-columns: 1fr 5fr; /* Левая колонка занимает 1 часть, правая 2 части */
    grid-template-rows: auto auto; /* Две строки: верхняя для загрузки файла, нижняя для управления */
    gap: 10px; /* Расстояние между элементами */
    align-items: start; /* Выравниваем элементы по верху */
}

/* UserInfo занимает всю левую колонку */
.admin-page-content > .user-info {
    grid-column: 1; /* Левая колонка */
    grid-row: 1 / span 2; /* Занимает две строки */
    max-width: 300px; /* Можно ограничить ширину */
}

/* FileUpload располагается в правой верхней ячейке */
.admin-page-content > .file-upload {
    grid-column: 2; /* Правая колонка */
    grid-row: 1; /* Верхняя строка */
}

/* FileManagement располагается в правой нижней ячейке */
.admin-page-content > .file-management {
    grid-column: 2; /* Правая колонка */
    grid-row: 2; /* Нижняя строка */
}


/* styles для кнопки в AdminPage */

.go-to-users-button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-to-users-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.go-to-users-button:active {
    transform: translateY(2px);
}
