.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #f0fff0;
  }
  
  h1 {
    color: #2e8b57;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 250px;
  }
  
  button {
    background-color: #2e8b57;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3cb371;
  }
  